LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "out_test" SITE "E14";
IOBUF PORT "out_test" IO_TYPE=LVCMOS33;


LOCATE COMP "out_test2" SITE "N1";
IOBUF PORT "out_test2" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_rx" SITE P2;
LOCATE COMP "uart_tx_out" SITE P3;
LOCATE COMP "rpi_rx"  SITE P18;
LOCATE COMP "rpi_tx"  SITE N20;
LOCATE COMP "uart1_rx" SITE D14;
LOCATE COMP "uart1_tx" SITE P1;

IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_tx_out" IO_TYPE=LVCMOS33;
IOBUF PORT "rpi_rx" IO_TYPE=LVCMOS33;
IOBUF PORT "rpi_tx" IO_TYPE=LVCMOS33;
IOBUF PORT "rpi2_tx" IO_TYPE=LVCMOS33;

LOCATE COMP "sck_in" SITE A19;
LOCATE COMP "sd_in" SITE A11;
LOCATE COMP "ws_in"  SITE E7;

IOBUF PORT "sck_in" IO_TYPE=LVCMOS33;
IOBUF PORT "sd_in" IO_TYPE=LVCMOS33;
IOBUF PORT "ws_in"  IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "A13";
LOCATE COMP "led[1]" SITE "A12";
LOCATE COMP "led[2]" SITE "B19";
LOCATE COMP "led[3]" SITE "A18";
LOCATE COMP "led[4]" SITE "B18";
LOCATE COMP "led[5]" SITE "C17";
LOCATE COMP "led[6]" SITE "A17";
LOCATE COMP "led[7]" SITE "B17";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;